*.o
*.a
*.so
*.swp
user/mbedtls
*cscope.out*
user/build.mk
enclave_u.*
enclave_t.*
admin_ucafs
ucafs
cscope.files
.DS_Store
cscope.in.out
cscope.po.out
afs_frontend/nexus-afs
*.orig
nexus-afs
nexus
nx-create-volume
